<div class="alert alert-block" style = "background-color: black">,
        <p><b><font size="+4" color="orange">Preparing Data for Loading to Postgres16</font></b></p>
    </div>

<div class="alert alert-block" style = "background-color: black">,
        <p><b><font size="+2" color="orange">Extract, Clean & Load data from parquet to Postgres16</font></b></p>
    </div>

In [1]:
import pandas as pd
import pyarrow.parquet as pq


ny_data_parquet = pq.ParquetFile("./ny_taxi_postgres_data/green_tripdata_2019-10.parquet")

ny_data_df = ny_data_parquet.read().to_pandas()
print(len(ny_data_df))
ny_data_df.describe()

476386

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,476386.000000,476386,476386,387007.000000,476386.000000,476386.000000,387007.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,387007.000000,387005.000000,387007.000000
mean,1.864746,2019-10-16 10:39:51.805003008,2019-10-16 11:01:52.574901248,1.102104,108.789746,129.697575,1.308302,3.543614,15.782716,0.844550,0.486164,0.983024,0.317710,0.240391,18.986092,1.454666,1.023294,0.451301
min,1.000000,2008-10-21 15:52:05,2008-10-21 15:54:26,1.000000,1.000000,1.000000,0.000000,-6.930000,-200.000000,-4.500000,-0.500000,-80.800000,-12.500000,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,2019-10-08 16:37:00.750000128,2019-10-08 16:59:14,1.000000,55.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,9.000000,1.000000,1.000000,0.000000
50%,2.000000,2019-10-16 16:46:56.500000,2019-10-16 17:11:33.500000,1.000000,82.000000,129.000000,1.000000,2.070000,11.500000,0.500000,0.500000,0.000000,0.000000,0.300000,14.160000,1.000000,1.000000,0.000000
75%,2.000000,2019-10-24 10:05:55,2019-10-24 10:28:00,1.000000,166.000000,193.000000,1.000000,4.270000,20.730000,1.000000,0.500000,1.650000,0.000000,0.300000,24.620000,2.000000,1.000000,0.000000
max,2.000000,2019-11-13 08:46:52,2019-11-13 08:58:26,99.000000,265.000000,265.000000,9.000000,515.890000,2877.500000,8.250000,0.500000,158.520000,935.500000,0.300000,2878.300000,5.000000,2.000000,2.750000
std,0.341995,NaN,NaN,0.727587,71.420448,76.351002,0.967869,4.168409,14.100716,1.135181,0.089725,1.981928,2.177628,0.121327,15.621042,0.522706,0.150837,1.018531

#### __Longest trip occurred on which date__

In [6]:
ny_data_df.lpep_pickup_datetime[ny_data_df['trip_distance'] == ny_data_df['trip_distance'].max()]

386795   2019-10-31 23:23:41
Name: lpep_pickup_datetime, dtype: datetime64[ns]

#### 1. Compute the number of fields with Negative values

In [18]:
(ny_data_df.loc[:,'fare_amount':'congestion_surcharge']<0).sum()

fare_amount              1388
extra                     560
mta_tax                  1262
tip_amount                 19
tolls_amount                1
ehail_fee                   0
improvement_surcharge    1034
total_amount             1388
payment_type                0
trip_type                   0
congestion_surcharge        6
dtype: int64

In [26]:
ny_data_df[ny_data_df['fare_amount']<0].sample(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
223196,2,2019-10-18 14:28:24,2019-10-18 14:28:34,N,1.0,72,264,1.0,0.00,-2.50,0.0,-0.5,0.0,0.0,None,-0.3,-3.30,4.0,1.0,0.0
66474,2,2019-10-05 20:17:37,2019-10-05 20:20:06,N,1.0,7,7,1.0,0.31,-3.50,-0.5,-0.5,0.0,0.0,None,-0.3,-4.80,3.0,1.0,0.0
369089,2,2019-10-30 16:48:43,2019-10-30 16:58:22,N,1.0,41,74,1.0,0.43,-7.50,-1.0,-0.5,0.0,0.0,None,-0.3,-9.30,4.0,1.0,0.0
145241,2,2019-10-12 02:12:56,2019-10-12 02:13:01,N,1.0,244,244,1.0,0.00,-2.50,-0.5,-0.5,0.0,0.0,None,-0.3,-3.80,3.0,1.0,0.0
443491,2,2019-10-22 10:29:10,2019-10-22 10:30:00,None,NaN,188,188,NaN,0.00,-29.54,0.0,-0.5,0.0,0.0,None,0.0,-30.04,NaN,NaN,NaN
419948,2,2019-10-14 07:42:10,2019-10-14 07:42:00,None,NaN,61,264,NaN,0.00,-17.75,0.0,-0.5,0.0,0.0,None,0.0,-18.25,NaN,NaN,NaN
392578,2,2019-10-03 09:46:10,2019-10-03 09:46:00,None,NaN,80,264,NaN,0.00,-22.21,0.0,-0.5,0.0,0.0,None,0.0,-22.71,NaN,NaN,NaN
406595,2,2019-10-09 08:16:10,2019-10-09 08:16:00,None,NaN,97,97,NaN,0.00,-16.80,0.0,-0.5,0.0,0.0,None,0.0,-17.30,NaN,NaN,NaN
37189,2,2019-10-03 19:16:17,2019-10-03 19:18:46,N,1.0,244,244,5.0,0.38,-3.50,-1.0,-0.5,0.0,0.0,None,-0.3,-5.30,4.0,1.0,0.0
452691,2,2019-10-24 15:16:10,2019-10-24 15:16:00,None,NaN,76,76,NaN,0.03,-33.79,0.0,-0.5,0.0,0.0,None,0.0,-34.29,NaN,NaN,NaN

#### __Retain all rows with negative values as the negative values is consistent across all amount columns resulting in negative totals. This may connote a REFUND__

#### 2. Drop Rows and Fields with Null Values

In [8]:
ny_data_df.isnull().sum()

VendorID                      0
lpep_pickup_datetime          0
lpep_dropoff_datetime         0
store_and_fwd_flag        89379
RatecodeID                89379
PULocationID                  0
DOLocationID                  0
passenger_count           89379
trip_distance                 0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
ehail_fee                476386
improvement_surcharge         0
total_amount                  0
payment_type              89379
trip_type                 89381
congestion_surcharge      89379
dtype: int64

#### 3. Drop rows with 99.0 and Null values in `RatecodeID` column
RatecodeID according to data dictionary has only 6 unique categories - 1.0 - 6.0, 99.0 is invalid and will be dropped

In [4]:
ny_data_df['RatecodeID'].value_counts()

RatecodeID
1.0     376424
5.0       9162
2.0        882
4.0        319
3.0        210
99.0         6
6.0          4
Name: count, dtype: int64

#### Updated data becomes data where RatecodeID is not equal to 99

In [ ]:
ny_data_df = ny_data_df[ny_data_df['RatecodeID'] != 99]

#### 4. Find data types and convert to appropriate data type

In [5]:
ny_data_df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

#### Convert Numerical to Categorical Columns
- RatecodeID
- PULocationID
- DOLocationID
- payment_type
- VendorID

<div class="alert alert-block" style = "background-color: black">,
        <p><b><font size="+2" color="orange">Function to clean parquet data</font></b></p>
    </div>

In [11]:
import pandas as pd
import os
import pyarrow.parquet as pq

def clean_parquet(raw_data_parquet,
                  remove_nulls=True,
                  remove_invalids=True,
                  null_parts = 14,
                  path_to_cleaned_parquet = "./ny_taxi_cleaned_data/cleaned_green_taxi_data.parquet"):
    
    """This function cleans a raw data parquet file of invalid and null data and returns a cleaned dataframe
    Usage: clean_parquet(raw_data, neg_fare_to_positive=True, remove_negative_values=True)
    Args:
        raw_data: The raw data parquet to be cleaned
        remove_nulls: A boolean value to remove null values from the data
        neg_fare_to_positive: A boolean value to convert negative fare to positive
        remove_negative_values: A boolean_value to remove negative values from the data
        null_parts: This is estimated using raw_data_df.isnull().sum(). This value is used to divide the number of rows
        in the dataframe to determine the threshold for removing rows with null values
    Returns:
        A cleaned dataframe written to parquet file"""
    
    raw_data_df = pq.ParquetFile(raw_data_parquet).read().to_pandas()
    
    print("dropping columns with more than 50% nulls)")
    if remove_nulls:
        try:
       
            #drop columns with >50% nulls
            fifty_pct_threshold = len(raw_data_df)/2
            columns_to_drop = raw_data_df.columns[raw_data_df.isnull().sum() > fifty_pct_threshold]
            raw_data_df = raw_data_df.drop(columns=columns_to_drop)
            initial_rows = len(raw_data_df)
            print(f"dropped {columns_to_drop} column")
            print(f"cleaning {initial_rows} rows of data")

            #drop rows with more nulls than threshold
            null_rows_threshold = len(raw_data_df)/null_parts
            columns_above_threshold = raw_data_df.columns[raw_data_df.isnull().sum() > null_rows_threshold]
            raw_data_df = raw_data_df.dropna(subset=columns_above_threshold)
            rows_dropped = initial_rows - len(raw_data_df)
            print(f"dropped {rows_dropped} null rows than threshold")
        except Exception as e:
            print(f"An expected error occurred during null removal: {e}")
            raise
     
    if remove_invalids:
        # drop rows with invalid values in RatecodeID column
        not_99_df = raw_data_df[raw_data_df['RatecodeID'] != 99]
        invalids_removed = len(raw_data_df) - len(not_99_df)
        print(f"dropped {invalids_removed} rows with invalid values in RatecodeID column")
    cleaned_df = not_99_df
    os.makedirs(os.path.dirname(path_to_cleaned_parquet), exist_ok=True)
    cleaned_df.to_parquet(path_to_cleaned_parquet)
    print(f"Raw Parquet data successfully cleaned giving {len(raw_data_df)} clean rows")

    return path_to_cleaned_parquet, cleaned_df.describe()

clean_parquet("./ny_taxi_postgres_data/green_tripdata_2019-10.parquet")

dropping columns with more than 50% nulls)
dropped Index(['ehail_fee'], dtype='object') column
cleaning 476386 rows of data
dropped 89381 null rows than threshold
dropped 4 rows with invalid values in RatecodeID column
Raw Parquet data successfully cleaned giving 387005 clean rows

('./ny_taxi_cleaned_data/cleaned_green_taxi_data.parquet',
             VendorID           lpep_pickup_datetime  \
 count  387001.000000                         387001
 mean        1.833512  2019-10-16 03:48:58.400265216
 min         1.000000            2008-10-21 15:52:05
 25%         2.000000            2019-10-08 10:56:00
 50%         2.000000            2019-10-16 11:28:46
 75%         2.000000            2019-10-23 23:13:16
 max         2.000000            2019-11-13 08:46:52
 std         0.372519                            NaN

                lpep_dropoff_datetime     RatecodeID   PULocationID  \
 count                         387001  387001.000000  387001.000000
 mean   2019-10-16 04:09:16.739233280       1.100586     105.564030
 min              2008-10-21 15:54:26       1.000000       1.000000
 25%              2019-10-08 11:15:39       1.000000      52.000000
 50%              2019-10-16 11:48:58       1.000000      82.000000
 75%              2019-10-23 23:33:46       1.000000     158.000000
 max              2019-11-13 08:58:26       6.000000     265.000000
 std                              NaN       0.617090      70.105587

         DOLocationID  passenger_count  trip_distance    fare_amount  \
 count  387001.000000    387001.000000  387001.000000  387001.000000
 mean      130.427040         1.308312       2.683926      12.544457
 min         1.000000         0.000000       0.000000    -200.000000
 25%        66.000000         1.000000       1.000000       6.500000
 50%       129.000000         1.000000       1.710000       9.500000
 75%       193.000000         1.000000       3.170000      14.500000
 max       265.000000         9.000000     515.890000    2877.500000
 std        76.535996         0.967872       3.219951      12.254033

                extra        mta_tax     tip_amount   tolls_amount  \
 count  387001.000000  387001.000000  387001.000000  387001.000000
 mean        0.402608       0.484681       1.208670       0.153515
 min        -4.500000      -0.500000     -80.800000     -12.500000
 25%         0.000000       0.500000       0.000000       0.000000
 50%         0.000000       0.500000       0.000000       0.000000
 75%         0.500000       0.500000       2.000000       0.000000
 max         4.500000       0.500000     158.520000     935.500000
 std         0.586923       0.093705       2.133939       2.088373

        improvement_surcharge   total_amount   payment_type      trip_type  \
 count          387001.000000  387001.000000  387001.000000  387001.000000
 mean                0.290699      15.492482       1.454668       1.023295
 min                -0.300000    -200.000000       1.000000       1.000000
 25%                 0.300000       8.300000       1.000000       1.000000
 50%                 0.300000      11.800000       1.000000       1.000000
 75%                 0.300000      18.300000       2.000000       1.000000
 max                 0.300000    2878.300000       5.000000       2.000000
 std                 0.056425      13.743642       0.522707       0.150837

        congestion_surcharge
 count         387001.000000
 mean               0.451301
 min               -2.750000
 25%                0.000000
 50%                0.000000
 75%                0.000000
 max                2.750000
 std                1.018531  )

<div class="alert alert-block" style = "background-color: black">,
        <p><b><font size="+2" color="orange">Generate Schema & Create Database Connection</font></b></p>
    </div>

This pandas function converts the dataframe to a Data Definition Language statement and this doesnt create the schema yet but just describes how the table would look in postgres

In [2]:
print(pd.io.sql.get_schema(ny_data_df,name='green_taxidata_Oct2019')) #name is name of the table in postgres

CREATE TABLE "green_taxidata_Oct2019" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" TEXT,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Now create a connection to the database

convert `PULocationID` and `DOLocationID` and `VendorID` to Integer and verify schema

In [4]:
from sqlalchemy.types import Integer, Text, DateTime, Float 
column_types = {'VendorID':Integer,
'lpep_pickup_datetime':DateTime,
'lpep_dropoff_datetime':DateTime,
'store_and_fwd_flag':Text,
'RatecodeID':Float,
'PULocationID':Integer,
'DOLocationID':Integer,
'passenger_count':Float,
'trip_distance':Float,
'fare_amount':Float,
'extra':Float,
'mta_tax':Float,
'tip_amount':Float,
'tolls_amount':Float,
'ehail_fee':Text,
'improvement_surcharge':Float,
'total_amount':Float,
'payment_type':Float,
'trip_type':Float,
'congestion_surcharge':Float}

Regenerate Schema

In [6]:
print(pd.io.sql.get_schema(ny_data_df,name='green_taxidata_Oct2019',con=engine,dtype=column_types )) #name is name of the table

CREATE TABLE "green_taxidata_Oct2019" (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT,
	trip_distance FLOAT,
	fare_amount FLOAT,
	extra FLOAT,
	mta_tax FLOAT,
	tip_amount FLOAT,
	tolls_amount FLOAT,
	ehail_fee TEXT,
	improvement_surcharge FLOAT,
	total_amount FLOAT,
	payment_type FLOAT,
	trip_type FLOAT,
	congestion_surcharge FLOAT
)

load in the column names first to see how it works

In [7]:
ny_data_df.head(n=0).to_sql(name='green_taxidata_Oct2019', con=engine, if_exists='replace',dtype=column_types, index=False)

0

<div class="alert alert-block" style = "background-color: black">,
        <p><b><font size="+2" color="orange">Load data from parquet to Postgres16</font></b></p>
    </div>

#### __Load parquet data to postgresql16__

The code below ingests ny_taxi data into postgresql16

In [13]:
import pyarrow.parquet as pq
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# To load the 1.27million rows into the database, we need to chunk this parquet file using iterators to do this
ny_data_parquet = pq.ParquetFile("./ny_taxi_cleaned_data/cleaned_green_taxi_data.parquet")



# Create the table schema (only once, outside the loop)
for first_batch in ny_data_parquet.iter_batches(batch_size=1):
    first_df = first_batch.to_pandas()
    
    first_df.head(n=0).to_sql(name='green_taxidata_Oct2019', con=engine, if_exists='replace', index=False)
    break  # We only need to create the schema once

for batch in ny_data_parquet.iter_batches(batch_size=100000):
    ny_data = batch.to_pandas()
  
    ny_data.to_sql(name='green_taxidata_Oct2019', con=engine, if_exists='append',index=False)
    #record_batches.append(ny_data)
    print(f"batch{batch} loaded , rows:{len(ny_data)} added to record_batches")

batchpyarrow.RecordBatch
VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
__index_level_0__: int64 loaded , rows:100000 added to record_batches
batchpyarrow.RecordBatch
VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
__index_level_0__: int64 loaded , rows:100000 added to record_batches
batchpyarrow.RecordBatch
VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
__index_level_0__: int64 loaded , rows:100000 added to record_batches
batchpyarrow.RecordBatch
VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
__index_level_0__: int64 loaded , rows:87001 added to record_batches

In [7]:
lookup_data = pd.read_csv('./ny_taxi_postgres_data/taxi_zone_lookup.csv')
lookup_data.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
lookup_data.to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='replace')

265

So in this exercise we have ingested the parquet data into the database, 
- Key takeaways:
    - we ran postgres using docker
    - We connected to this database
    - We then ingested the data into the postgres-docker database